@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    background-color: #fefbd8;
}

#external-div{
    border-radius: 10px;
    box-shadow: 5px 5px 15px #b9936c;
}

header{
    background-color: #dac292;
    width: 300px;
    height: 40px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 250px;
    background-color: #e6e2d3;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
}


input{
    border: solid 1px rgb(73, 72, 72);
    height: 30px;
    width: 240px;
    border-radius: 5px;
    margin-bottom: 9px;
    text-align: center;
    background-color: #c4b7a6;
    opacity: 60%;
    font-weight: bold;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 5px;
    margin-top: 4px;
    color: white;
    padding: 8px 20px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    box-shadow: 1px 2px 5px black;
    transition: .3s;
}

button:hover{
    background-color: #dac292;
    cursor: pointer;
    box-shadow: none;
    transform: translateX(80px);
}

.password-strength{
    width: 240px;
    height: 10px;
    background-color: #ccc;
    border-radius: 10px;
    align-items: unset;
}

.password-strength div{
    height: 100%;
    border-radius: 10px;
    background-color: black;
    float: left;
}